#aa 
{
    width: 100%;
}
#ad
{
    width: 20mm;
    height: 40mm;
}
#ff
{
    color: azure;
    background: #1d86ff;
    border: 1px solid transparent;
    margin-left: 5%;
    font-size: 16px;
    padding: 6px 20px
    
}
#mm,#dd,#ab ,#dd
{
    width: 80%;
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
#re,#ret
{
    color: #1d86ff;
    margin-left: 5%;
}
#hs
{
    background-color: #b2d1eb;
    padding: 10px;
}
#po
{
    font-size: 18px;
}
#hbc
{
    width: 100%;
}
#ra ,#rah ,#rahu
{
    margin-left: 5%;
}
h2
{
    color: crimson;
    margin-left: 40%;
}
#siv
{   font-size: 50px;
    color: crimson;
}
h3
{
    font-size: 40px;
}
#kyc
{
    font-size: 25px;
    color: crimson;
    margin-left: 5%;
}